/*////////////////Home Page////////////////*/

html {
	background: linear-gradient(
		40deg,
		rgba(200, 92, 92, 0.712),
		#fff,
		rgba(200, 92, 92, 0.712)
	);
	height: 100vh;
}

body {
	color: #000;
	font-family: "Courgette", cursive;
	height: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

header h1 {
	display: flex;
	justify-content: flex-start;
	font-weight: bolder;
	margin: 2.5rem;
}

header nav {
	display: flex;
	justify-content: flex-end;
	margin: 3rem;
}

header nav a {
	background-color: #fff;
	border: 1px solid #000;
	margin: 0.5rem;
	padding: 0.5rem;
}

a {
	color: #000;
	font-size: larger;
	border-radius: 10%;
	border: 2px #000;
	font-family: "Courgette", cursive;
}

p {
	font-weight: bold;
	font-size: larger;
}

.container {
	position: relative;
	text-align: center;
	color: #fff;
	font-weight: bolder;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -0%);
}

.top-project-display {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -0%);
}

.over-image {
	font-weight: bolder;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-0%, -280%);
}

.over-image h2 {
	color: #000;
}

.top-project-display-main img {
	border-radius: 10%;
	position: relative;
	width: 600px;
	height: 300px;
	top: 50%;
	left: 50%;
}

.projects-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem;
}

.projects-display div {
	align-items: center;
	text-align: center;
	width: 32%;
	margin: 2rem -2.5rem;
}

.projects-display div img {
	border-radius: 10%;
	width: 300px;
	height: 300px;
}

.projects-display p {
	font-weight: bold;
}

footer {
	bottom: 0;
	margin-top: 2rem;
	text-align: center;
	padding: 3rem;
	background-color: #fff;
}

footer button {
	padding: 0.5rem;
	margin-bottom: 2rem;
}

/*/ ////////////////About Page//////////////////////*/

.about-info {
	text-align: center;
	justify-content: center;
	margin: 2rem;
}

.about-info img {
	width: 400px;
	height: 400px;
	border-radius: 20%;
	object-fit: cover;
}

.about-info h2 {
	text-decoration: underline;
}

.about-info p {
	font-size: larger;
}

/*///////////////////Contact Page/////////////////*/

.contact-info {
	text-align: center;
	justify-content: center;
	margin: 2rem;
}

.contact-info img {
	width: 300px;
	height: auto;
}

.contact-info h2 {
	text-decoration: underline;
}

.contact-info p {
	font-size: larger;
}

.contact-info a {
	color: #000;
}

/*/ ////////////////Projects Page//////////////////*/

.top-project-display img {
	border-radius: 10%;
	position: relative;
	width: 600px;
	height: 500px;
	top: 50%;
	left: 100%;
}

.main-content h2 {
	text-align: center;
	font-weight: bolder;
}
/*//////////////////Mobile 800px Home///////////////////////////*/

@media screen and (max-width: 800px) {
	.projects-display div {
		width: 60%;
	}
}

/*//////////////////Mobile 500px///////////////////////////*/

@media screen and (max-width: 500px) {
	/*/////////////////Mobile Home/////////////////////*/
	header {
		flex-direction: column;
	}

	header h1 {
		margin: 0;
		justify-content: center;
	}

	header nav {
		margin: 0;
		justify-content: center;
	}

	.main-content {
		margin-bottom: 0;
	}

	.top-project-display-main img {
		width: 350px;
		height: 175px;
	}

	.projects-display {
		margin-top: 0;
		margin-bottom: 0;
	}

	.projects-display div {
		width: 90%;
	}
	/*/////////////////Mobile About/////////////////////*/

	.about-info {
		margin: 5rem 0rem 10rem 0rem;
	}

	.about-info img {
		justify-content: center;
		width: 250px;
		height: 250px;
	}
	/*////////////////Mobile Contact////////////////////*/
	.contact-info {
		justify-self: center;
		margin: 0rem 0rem 5rem 0rem;
	}
	/*///////////////Mobile Projects////////////////////*/
	.top-project-display img {
		width: 400px;
		height: auto;
	}
}
