/*head*/

/*header*/

/*header nav*/

/*h1*/

/*a*/

/*button*/

/*top-project-display*/

/*.top-project-display img*/

/*projects-display*/

/* .projects-display img {
	margin: 1px;
	width: 200rem;
	height: 200rem;
	border: 1px;
} */

/*footer*/
